name=HTML5

[remap]

[profiles]

[export_presets]

'this file is a minimal placeholder export_presets.cfg created by the prototype generator.'

[preset.0]
name="HTML5"
platform="HTML5"

# Path where the HTML5 export will be written relative to the project root
output="build/html5"

# HTML5 specific options (placeholders)
custom_template=false
compress_pck=false

# Do not include debug
run_debug=false
